.jumbotron{
    background-color: yellowgreen;
    color: black;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0px 10px; /*Dimensiones de espacios*/
    background-color: rgb(30, 255, 188);
    margin-bottom: 0px;
    margin-top: 10px;
    width: 100%;
}/*Ubicamos abajo el footer*/

footer a{
    color: black;
}

.tarjeta_hotel{
    flex: 1 180px ; /*Valort de flex y tamanio*/
}

.boton_elegir{
    width: 100%;  
}

.multiC{
    padding-top: 10px;
}